# Ignore virtual environment and IDE files
.venv/
.idea/

# Ignore Python cache files
__pycache__/
data/__pycache__/
utils/__pycache__/
evaluation/__pycache__/

# Ignore the data directory
datasets/

# Ignore temp files
checkpoints/